# Aggregation ve Gruplama İşlemleri

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns # hazır veri setleri için faydalı bir kütüphane

In [8]:
df = sns.load_dataset('planets')
df

               method  number  orbital_period    mass  distance  year
0     Radial Velocity       1      269.300000   7.100     77.40  2006
1     Radial Velocity       1      874.774000   2.210     56.95  2008
2     Radial Velocity       1      763.000000   2.600     19.84  2011
3     Radial Velocity       1      326.030000  19.400    110.62  2007
4     Radial Velocity       1      516.220000  10.500    119.47  2009
5     Radial Velocity       1      185.840000   4.800     76.39  2008
6     Radial Velocity       1     1773.400000   4.640     18.15  2002
7     Radial Velocity       1      798.500000     NaN     21.41  1996
8     Radial Velocity       1      993.300000  10.300     73.10  2008
9     Radial Velocity       2      452.800000   1.990     74.79  2010
10    Radial Velocity       2      883.000000   0.860     74.79  2010
11    Radial Velocity       1      335.100000   9.880     39.43  2009
12    Radial Velocity       1      479.100000   3.880     97.28  2008
13    Radial Velocity       3     1078.000000   2.530     14.08  1996
14    Radial Velocity       3     2391.000000   0.540     14.08  2001
15    Radial Velocity       3    14002.000000   1.640     14.08  2009
16    Radial Velocity       1        4.230785   0.472     15.36  1995
17    Radial Velocity       5       14.651000   0.800     12.53  1996
18    Radial Velocity       5       44.380000   0.165     12.53  2004
19    Radial Velocity       5     4909.000000   3.530     12.53  2002
20    Radial Velocity       5        0.736540     NaN     12.53  2011
21    Radial Velocity       5      261.200000   0.172     12.53  2007
22    Radial Velocity       3        4.215000   0.016      8.52  2009
23    Radial Velocity       3       38.021000   0.057      8.52  2009
24    Radial Velocity       3      123.010000   0.072      8.52  2009
25    Radial Velocity       1      116.688400     NaN     18.11  1996
26    Radial Velocity       1      691.900000     NaN     81.50  2012
27    Radial Velocity       1      952.700000   5.300     97.18  2008
28    Radial Velocity       1      181.400000   3.200     45.52  2013
29            Imaging       1             NaN     NaN     45.52  2005
...               ...     ...             ...     ...       ...   ...
1005          Transit       1        3.693641     NaN    200.00  2012
1006          Transit       1        4.465633     NaN    330.00  2012
1007          Transit       1        4.617101     NaN    255.00  2012
1008          Transit       1        2.838971     NaN    455.00  2012
1009          Transit       1        5.017180     NaN    300.00  2012
1010          Transit       1        7.919585     NaN    125.00  2012
1011          Transit       1        4.305001     NaN    400.00  2012
1012          Transit       1        3.855900     NaN    480.00  2012
1013          Transit       1        4.411953     NaN    160.00  2012
1014          Transit       1        4.378090     NaN    330.00  2012
1015          Transit       1        1.573292     NaN    350.00  2012
1016          Transit       1        2.311424     NaN    310.00  2013
1017          Transit       1        4.086052     NaN    380.00  2012
1018          Transit       1        4.614420     NaN    225.00  2012
1019          Transit       1        2.903675     NaN    345.00  2012
1020          Transit       1        2.216742     NaN    340.00  2012
1021          Transit       1        2.484193     NaN    260.00  2013
1022          Transit       1        1.360031     NaN     93.00  2012
1023          Transit       1        2.175176     NaN    550.00  2012
1024          Transit       1        3.662387     NaN    240.00  2012
1025          Transit       1        3.067850     NaN     60.00  2012
1026          Transit       1        0.925542     NaN    470.00  2014
1027          Imaging       1             NaN     NaN     19.20  2011
1028          Transit       1        3.352057     NaN   3200.00  2012
1029          Imaging       1             NaN     NaN     10.10  2012
1030          Transit       1        3.941507     NaN    172.00  2006
1031          Transit       1        2.615864     NaN    148.00  2007
1032          Transit       1        3.191524     NaN    174.00  2007
1033          Transit       1        4.125083     NaN    293.00  2008
1034          Transit       1        4.187757     NaN    260.00  2008

[1035 rows x 6 columns]

In [9]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [11]:
df.count() # her değişken içerisinde kaç tane gözlem var onu verir

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [13]:
df['mass'].count() # belirli bir değişkenin gözlem birimleri

513

In [16]:
df.describe().T # her değişkenin değerlerinin ortalamasının medyanının vs göterir

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

    Bazı fonksiyonlar
* **count()**
* **first()**
* **last()**
* **mean()**
* **median()**
* **min()**
* **max()**
* **std()**
* **var()**

In [18]:
df['mass'].describe()

count    513.000000
mean       2.638161
std        3.818617
min        0.003600
25%        0.229000
50%        1.260000
75%        3.040000
max       25.000000
Name: mass, dtype: float64

In [20]:
df.dropna().describe().T # dropna sayesinde eksik verileri de dahil eder

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0